<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body><br>
<font size="1"><table class="xdebug-error xe-parse-error" dir="ltr" cellspacing="0" cellpadding="1" border="1">
<tbody><tr><th colspan="5" bgcolor="#f57900" align="left"><span style="background-color: #cc0000; color: #fce94f; font-size: x-large;">( ! )</span>
 Parse error: syntax error, unexpected '&lt;&lt;' (T_SL), expecting 
function (T_FUNCTION) or const (T_CONST) in 
/users/info/etu-s3/tardyj/public_html/progWeb/projet-PHP/PHP/model/DAO.class.php
 on line <i>167</i></th></tr>
</tbody></table></font>
</body></html>